<h1>AJUDA</h1>
<br>
<div class="container">
  <div class="card" style="padding: 1.5rem;">
    <div class="row g-2">

      <div class="col">
        <label for="" class="form-label">Nome</label>
        <input type="text" class="form-control" placeholder="Insira seu Nome Completo">
      </div>
    <div class="row g-2">
      <div class="col">
        <label for="" class="form-label">E-mail</label>
        <input type="email" class="form-control" placeholder="Insira seu E-mail">
      </div>
    </div>
      <div class="card" style="padding: 1.5rem;">
        <div class="row g-2">
          <div class="col">
            <label for="Mensagem" class="form-label">Mensagem</label>
            <input type="text" class="form-control" placeholder="Mensagem" style="height: 200px;">
          </div>
        </div>
      </div>
     <br>
      <div class="card" style="padding: 1.5rem;">
        <div class="text-center text-lg-start mt-4 pt-2">
          <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 1.5rem; padding-right: 1.5rem;">Enviar</button>
      </div>
    </div>

    </ul>
  </div>
</div>