<h1>BENEFICIOS</h1>
<br>
<div class="container">
    <div class="row g-2">
        <div class="card" style="padding: 1.5rem;">
            <div class="row g-2">
                <div class="card" style="padding: 1rem;">
                    <label for="VR" class="form-label">Vale Refeição</label>
                    <div class="card" style="height: 100px;"></div>
                </div>
            </div>
            <br>
            <div class="row g-2">
                <div class="card" style="padding: 1rem;">
                    <label for="VA" class="form-label">Vale Alimentação</label>
                    <div class="card" style="height: 100px;"></div>
                </div>
            </div>
            <br>
            <div class="row g-2">
                <div class="card" style="padding: 1rem;">
                    <label for="VT" class="form-label">Vale Transporte</label>
                    <div class="card" style="height: 100px;"></div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>