<br>
<h1>FOLHA DE PAGAMENTOS</h1>
<div class="row g-2">
    <div class="row g-2">
        <div class="col-sm-3">
            <label for="nome" class="form-label">Salário:</label>
            <input type="text" value="R$ <%= informacoes.salario%>" class="form-control" placeholder="" id="nome"
                disabled>
        </div>
        <div class="row g-2">
            <div class="col-sm-3">
                <label for="ID" class="form-label">Valor de proventos:</label>
                <input type="number" value="<%= informacoes.codigo_funcionario%>" class="form-control" placeholder=""
                    id="" disabled>
            </div>
        </div>