<!– tela principal –>
    <%- include ('partials/header.ejs')%>

        <title>Login</title>

        <body>
            <section class="vh-100">
                <div
                    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">

                    <div class="text-white mb-3 mb-md-0">
                        Projeto PIM IV - Hermes S.E.
                    </div>

                </div>
                <% if (message) { %>
                    <div id="toastMessageData" data-toast-message=<%= message %>></div>
                    <div class="toast-container position-absolute top-0 end-0">
                        <div id="messageToast" class="toast align-items-center text-white bg-danger border-0" role="alert"
                            aria-live="assertive" aria-atomic="true">
                            <div class="d-flex">
                                <div class="toast-body">
                                    <%= message %>
                                </div>
                                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                                    aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                <% } %>
                
                <div class="container-fluid h-auto">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-md-9 col-lg-6 col-xl-5">
                            <img src="/img/PHOTO-2023-04-26-19-33-45.jpg" class="img" alt="Sample image">
                        </div>
                        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                            <form action="/login" method="post">
                                <br>


                                <div class="card mt=4" style="padding: 1.5rem;">
                                    <div clas="card-header">
                                        <label class="form-label">
                                            <h2>Login</h2>
                                        </label>
                                    </div>

                                    <!-- Email login -->
                                    <form id="validacaoLogin" action="/usuario" method="post">
                                        <div class="form-outline mb-4">
                                            <form action=""></form>
                                            <label class="form-label" for="Login">Login:</label>
                                            <input type="text" name="user" id="usuario"
                                                class="form-control form-control-lg"
                                                placeholder="Entre com seu Login" />
                                        </div>

                                        <!-- Senha login -->
                                        <div class="form-outline mb-3">

                                            <label class="form-label">Senha:</label>
                                            <input type="password" name="password" id="senhaLogin"
                                                class="form-control form-control-lg"
                                                placeholder="Entre com sua senha" />

                                            <div class="text-center text-lg-start mt-4 pt-2">
                                                <button type="submit" class="btn btn-primary btn-lg"
                                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Entrar</button>
                                            </div>
                                    </form>
                                </div>

                        </div>





                        <br>
                        </form>
                    </div>
                </div>
                </div>
                <div
                    class="d-flex flex-column flex-md-row text-center fixed-bottom text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">

                    <div class="text-white mb-3 mb-md-0">
                        Projeto PIM IV - Hermes S.E.
                    </div>



                </div>
            </section>

        </body>
        <%- include ('partials/footer.ejs', {message: message});%>