<h1>MINHAS INFORMAÇOES</h1>
<h1>MINHAS INFORMAÇOES</h1>
<<div class="card">
  <div class="form">
    <div class="card">img</div><br>
    <label class="">Nome:</label>
    <input class="input" placeholder="Nome">
    <label class="">CPF:</label>
    <input class="input" placeholder="CPF">
    <label class="">ID:</label>
    <input class="input" placeholder="ID">
    
    <hr>
    <label class="">Endereço:</label><br>
    <label class="">Rua: </label><br>
    <input class="input" placeholder="Rua">
    <label class="">CEP: </label> 
    <input class="input" placeholder="CEP">
    <label class="">UP: </label>
    <input class="input" placeholder ="UP"><br>

    <br><label class="">Numero: </label><br>
    <input class="input" placeholder="Numero">
    <label class="">Cidade: </label>
    <input class="input" placeholder ="Cidade">
    <label class="">Pais:</label>
    <input class="input" placeholder ="Pais">
    <br>

    <hr>
    <label class="">Empresa:</label><br>
    <label class="">Cod: </label><br>
    <input class="input" placeholder="Cod">
    <label class="">Nome da Empresa: </label>
    <input class="input" placeholder ="Nome da Empresa">
    <label class="">CNPJ:</label>
    <input class="input" placeholder ="CNPJ"><br>
    



    <br><label class="">Cod. Cargo:</label><br>
    <input class="input" placeholder ="Cod. Cargo">
    <label class="">Salario:</label>
    <input class="input" placeholder ="Salario">
    <label class="">Onde vai ficar o botao quando eu aprender a colocar</label>
    <input type="radio" id="sim" name="sim"
    <label class=""> Data de Admissão:</label>
    <input class="input" placeholder= "Data de Admissão">
   
  
   
    


    
    
    
  </div>
</div>