<h1>MINHAS Informações</h1>
<div class="card">
  <div class="form">
    <div class="card">img</div><br>
    <label class="">Nome:</label>
    <input class="input" placeholder="Emerson">
    <label class="">CPF:</label>
    <input class="input" placeholder="471.471.741-47">
    <label class="">ID:</label>
    <input class="input" placeholder="0005">
    
    <hr>
    <label class="">Endereço:</label><br>
    <label class="">Rua: </label>
    <input class="input" placeholder="Rua 3 corações">
    <label>Numero: </label>
    <input class="input" placeholder="110">
    <br>
  </div>
</div>